@model ocenaocena.Models.NagrodaWyroznienie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NagrodaWyroznienie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NagrodaWyroznienieId" />
            <div class="form-group">
                <label asp-for="NagrodaMinistraNazwa" class="control-label"></label>
                <input asp-for="NagrodaMinistraNazwa" class="form-control" />
                <span asp-validation-for="NagrodaMinistraNazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NagrodaMinistraTerminOtrzymania" class="control-label"></label>
                <input asp-for="NagrodaMinistraTerminOtrzymania" class="form-control" />
                <span asp-validation-for="NagrodaMinistraTerminOtrzymania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NagrodaRektoraNazwa" class="control-label"></label>
                <input asp-for="NagrodaRektoraNazwa" class="form-control" />
                <span asp-validation-for="NagrodaRektoraNazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NagrodaRektoraTerminOtrzymania" class="control-label"></label>
                <input asp-for="NagrodaRektoraTerminOtrzymania" class="form-control" />
                <span asp-validation-for="NagrodaRektoraTerminOtrzymania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NagrodaOrganizacjiNazwa" class="control-label"></label>
                <input asp-for="NagrodaOrganizacjiNazwa" class="form-control" />
                <span asp-validation-for="NagrodaOrganizacjiNazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NagrodaOrganizacjiTerminOtrzymania" class="control-label"></label>
                <input asp-for="NagrodaOrganizacjiTerminOtrzymania" class="form-control" />
                <span asp-validation-for="NagrodaOrganizacjiTerminOtrzymania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
