@model ocenaocena.Models.AktywnoscBadawcza

@{
    ViewData["Title"] = "Dodaj Aktywność Badawczą";
}

<h2>Dodaj Aktywność Badawczą</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="TytulProjektu"></label>
        <input asp-for="TytulProjektu" class="form-control" />
        <span asp-validation-for="TytulProjektu" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProjektWspolrealizowany"></label>
        <input asp-for="ProjektWspolrealizowany" type="checkbox" />
        <span asp-validation-for="ProjektWspolrealizowany" class="text-danger"></span>
    </div>

    <!-- Dodaj pozostałe pola formularza -->

    <div class="form-group">
        <label asp-for="DataZawarciaUmowy"></label>
        <input asp-for="DataZawarciaUmowy" class="form-control" type="date" />
        <span asp-validation-for="DataZawarciaUmowy" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataZlozeniaWniosku"></label>
        <input asp-for="DataZlozeniaWniosku" class="form-control" type="date" />
        <span asp-validation-for="DataZlozeniaWniosku" class="text-danger"></span>
    </div>

    <!-- Dodaj pozostałe pola formularza -->

    <div class="form-group">
        <label asp-for="UserId"></label>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>