@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Użyj tej strony, aby dowiedzieć się więcej o polityce prywatności naszej witryny.</p>

<h2>1. Informacje ogólne</h2>

<p>Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych przekazanych przez Użytkowników w związku z korzystaniem z naszej witryny.</p>

<h2>2. Administrator danych</h2>

<p>Administratorem danych osobowych jest [Nazwa Firmy], [Adres Firmy].</p>

<h2>3. Cele przetwarzania danych</h2>

<p>Podanie danych osobowych jest dobrowolne, ale niezbędne do korzystania z niektórych funkcji witryny, takich jak [wskazać konkretne funkcje].</p>

<h2>4. Rodzaje przetwarzanych danych</h2>

<p>Przetwarzamy dane osobowe Użytkowników, takie jak [wskazać rodzaje danych], zbierane za pomocą [wskazać sposób zbierania danych].</p>

<h2>5. Cookies</h2>

<p>Nasza witryna korzysta z plików cookies. Dowiedz się więcej o plikach cookies, jakie używamy i w jaki sposób można je wyłączyć w naszej <a href="/polityka-cookies">Polityce Cookies</a>.</p>

<h2>6. Bezpieczeństwo danych</h2>

<p>Zapewniamy odpowiednie środki techniczne i organizacyjne w celu ochrony przetwarzanych danych osobowych przed nieuprawnionym dostępem czy udostępnieniem.</p>

<h2>7. Prawa Użytkowników</h2>

<p>Użytkownik ma prawo dostępu do swoich danych, ich poprawiania oraz żądania ich usunięcia. Więcej informacji na ten temat znajduje się w naszej <a href="/polityka-prywatnosci">Polityce Prywatności</a>.</p>

<h2>8. Kontakt</h2>

<p>W przypadku pytań dotyczących polityki prywatności, prosimy o kontakt pod adresem [adres e-mail] lub telefonicznie pod numerem [numer telefonu].</p>
