<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ocenaocena</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ocenaocena.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ocenaocena</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Polityka Prywatności</a>
                        </li>
                        @{
                            if (User.IsInRole("admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Administracja
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="dropdown-item nav-link text-dark" asp-area=""
                                           asp-controller="AktywnoscBadawczas" asp-action="Index">Aktywność Badawcza</a>
                                            
                                           <a class="dropdown-item nav-link text-dark" asp-area=""
                                               asp-controller="ArtykulNaukowies" asp-action="Index">Artykuły naukowe</a>
                                           
                                              <a class="dropdown-item nav-link text-dark" asp-area=""
                                               asp-controller="DzialalnoscOrganizacyjnas" asp-action="Index">Dzialanosc organizacyjna</a>
                                           
                                               <a class="dropdown-item nav-link text-dark" asp-area=""
                                               asp-controller="EkspertyzaNaukowas" asp-action="Index">Ekspertyzy naukowe</a>

                                            <a class="dropdown-item nav-link text-dark" asp-area=""
                                               asp-controller="MonografiaNaukowas" asp-action="Index">Monografie naukowe</a>
                                            
                                               <a class="dropdown-item nav-link text-dark" asp-area=""
                                               asp-controller="KonferencjaNaukowas" asp-action="Index">Konferencje naukowe</a>
                                            
                                               <a class="dropdown-item nav-link text-dark" asp-area=""
                                               asp-controller="NagrodaWyroznienies" asp-action="Index">Nagrody oraz wyróżnienia</a>

                                            <a class="dropdown-item nav-link text-dark" asp-area=""
                                               asp-controller="PozostalaDzialalnoscNaukowas" asp-action="Index">Pozostała działaność naukowa</a>

                                            <a class="dropdown-item nav-link text-dark" asp-area=""
                                               asp-controller="PozostaleFormyAktywnoscis" asp-action="Index">Pozostałe formy aktywności</a>
                                    </li>
                                </ul>
                            </li>}


                            @if (User.IsInRole("pracownik"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Dodaj
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="AktywnoscBadawczas"
                                           asp-action="Create">Aktywność Badawczą</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="ArtykulNaukowies"
                                           asp-action="Create">Artykuł naukowy</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="DzialalnoscOrganizacyjnas"
                                           asp-action="Create">Działaność Organizacyjną</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="EkspertyzaNaukowas"
                                           asp-action="Create">Ekspertyze naukową</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="KonferencjaNaukowas"
                                           asp-action="Create">Konferencje naukową</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="MonografiaNaukowas"
                                           asp-action="Create">Monografie naukową</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="NagrodaWyroznienies"
                                           asp-action="Create">Nagrody oraz wyróżnienia</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="PozostaladzialalnoscNaukowas"
                                           asp-action="Create">Pozostałą działaność naukową</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="PozostaleFormyAktywnoscis"
                                           asp-action="Create">Pozostałe formy aktywności</a>
                                    </li>
                                    </ul>
                                </li>

                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Przeglądaj
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="AktywnoscBadawczas"
                                           asp-action="Index">Aktywność Badawczą</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="ArtykulNaukowies"
                                               asp-action="Index">Artykuł naukowy</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="DzialalnoscOrganizacyjnas"
                                               asp-action="Index">Działaność Organizacyjną</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="EkspertyzaNaukowas"
                                               asp-action="Index">Ekspertyze naukową</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="KonferencjaNaukowas"
                                               asp-action="Index">Konferencje naukową</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="MonografiaNaukowas"
                                               asp-action="Index">Monografie naukową</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="NagrodaWyroznienies"
                                               asp-action="Index">Nagrody oraz wyróżnienia</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="PozostaladzialalnoscNaukowas"
                                               asp-action="Index">Pozostałą działaność naukową</a>
                                    </li>

                                    <li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="PozostaleFormyAktywnoscis"
                                               asp-action="Index">Pozostałe formy aktywności</a>
                                    </li>
                                    </ul>
                                </li>
                                
                            }
                    }



                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ocenaocena - <a asp-area="" asp-controller="Home" asp-action="Privacy">Polityka Prywatności</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
