@model ocenaocena.Models.PozostalaDzialalnoscNaukowa

@{
    ViewData["Title"] = "Create";
}


<h4>Dodaj pozostałą działaność naukową</h4>
<hr />
<div class="row col-md-16 interspace justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rola" class="control-label">Rola</label>
                <input asp-for="Rola" class="form-control" />
                <span asp-validation-for="Rola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazwaOrganizacji" class="control-label">Nazwa organizacji</label>
                <input asp-for="NazwaOrganizacji" class="form-control" />
                <span asp-validation-for="NazwaOrganizacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerminDzialalnosciOd" class="control-label">Termin działaności od</label>
                <input asp-for="TerminDzialalnosciOd" class="form-control" />
                <span asp-validation-for="TerminDzialalnosciOd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerminDzialalnosciDo" class="control-label">Termin działaności do</label>
                <input asp-for="TerminDzialalnosciDo" class="form-control" />
                <span asp-validation-for="TerminDzialalnosciDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
